* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    scroll-padding-top: 80px;
    background: #fffaf5;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #000958;
    --primary-color-btn: #ff5b2e;
    --primary-color-desc: #656689;
}

input,
textarea,
button,
select {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "sora", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.btn {
    --height: 56px;
    min-width: 214px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    padding: 0 10px;
    border-radius: 99px;
    background: var(--primary-color-btn);

    /* font text */
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.font-h3 {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.btn:hover {
    opacity: 0.9;
    filter: drop-shadow(0 0 5px var(--primary-color-btn));
}

.btn-hover {
    color: var(--primary-color-btn);
    background: none;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: 1px solid rgba(255, 91, 46, 0.6);
}

.btn-hover:hover {
    background: var(--primary-color-btn);
    color: #fff;
    border-color: transparent;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.font-heading {
    color: var(--primary-color);
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.font-desc {
    color: var(--primary-color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}

.adv__link::before,
.hero-action__link::before,
.header-aciton__link::before {
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    content: "";
    display: inline-block;
    height: 1.5px;
    background: currentColor;
    border-radius: 2px;
    transition: width 0.5s ease-in-out;
}

.adv__link:hover::before,
.hero-action__link:hover::before,
.header-aciton__link:hover::before {
    width: 100%;
    left: 0;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-3 {
    --line-clamp: 3;
}

.line-5 {
    --line-clamp: 5;
}
/* Header */

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 18px;
    cursor: pointer;
}

.navbar-item__link,
.header-aciton__link {
    position: relative;
    display: block;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navbar__item:hover .navbar-item__link,
.header-acition__link:hover {
    color: var(--primary-color);
    font-weight: 600;
}

.navbar-item__link::before {
    content: attr(data);
    height: 0;
    display: block;
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.header__action {
    display: flex;
    align-items: center;
}

.header-action__btn {
    position: relative;
    --height: 50px;
    min-width: 117px;
    color: #000958;
    border-color: rgba(0, 9, 88, 0.7);
    margin-left: 36px;
    background: #fffaf5;
    transition: all 0.3s ease-in-out;
}

/*============== Hero ==================*/
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero media */
.hero__media {
    display: flex;
    position: relative;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
}

.hero__decor--left {
    bottom: 10px;
    left: -58px;
    z-index: -1;
    animation: move-top 4s ease-in-out infinite alternate;
}

@keyframes move-top {
    to {
        transform: translateY(-300px);
    }
}

.hero__decor--right {
    top: 17px;
    right: -40px;
    z-index: -1;
    animation: move-bottom 4s ease-in-out infinite alternate;
}

@keyframes move-bottom {
    to {
        transform: translateY(200px);
    }
}

.hero__img-wrap--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
    margin-left: -23px;
    margin-bottom: -58px;
}

/* Hero health */
.hero__health {
    position: absolute;
    bottom: -94px;
    left: 129px;
    width: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 20px 14px;
    transition: scale 0.5s ease-in-out;
}

.hero__health:hover {
    scale: 1.1;
}

.hero__pet {
    display: flex;
    align-items: flex-start;
    gap: 9px;
}

.hero__pet:last-child {
    margin-top: 20px;
}
.hero-pet__wrap {
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
    background: #fec23f;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-pet__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-pet__wrap--bottom {
    background: #6597c2;
}

.hero-pet__title {
    position: relative;
    margin-top: 2px;
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-pet__title::before,
.hero-pet__title::after {
    position: absolute;
    content: "";
    display: inline-block;
    border-radius: 10px;
    background: #000958;
    opacity: 0.08;
    left: 1px;
}

.hero-pet__title::before {
    width: 118px;
    height: 4px;
    bottom: -10px;
}

.hero-pet__title::after {
    width: 39px;
    height: 4px;
    bottom: -17px;
}

.hero__line {
    height: 2px;
    background: #f2f2f2;
    margin-top: 20px;
    border-radius: 99px;
}

/* Hero content */

.hero__title {
    max-width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.hero-action__btn {
    position: relative;
    display: flex;
    align-items: center;
}

.hero__btn {
    --height: 60px;
    min-width: 189px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-action__link {
    position: relative;
    margin-left: 24px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.hero__arrow {
    right: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffaf5;
}

/* about */
.about {
    margin-top: 136px;
    padding: 53px 0;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content__start {
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__title {
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

.about__list {
    max-width: 478px;
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 34px 37px;
}

.about__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-checkbox__row {
    display: flex;
    /* gap: 36px; */
    justify-content: space-between;
}

.about__tick-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 5px;
}

.about-item__name {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

/* about media */
.about__media {
    position: relative;
}

.about__media-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 494px;
    height: 559px;
    border-radius: 25px;
}

.about__media-wrap::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    z-index: -1;
    width: 100%;
    height: 336px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
}

.about__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.about__card {
    position: absolute;
    padding: 30px 26px;
    width: 136px;
    object-fit: cover;
    text-align: center;
    top: 157px;
    left: -44px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    transition: scale 0.5s linear;
}

.about__card:hover {
    scale: 1.2;
}

.about-card__img {
    position: absolute;
    top: -37px;
    right: -30px;
}

.about-img__decor {
    position: absolute;
    right: -50px;
    top: 150px;
    z-index: -1;
    animation: about-decor 5s ease-in-out infinite alternate;
}

@keyframes about-decor {
    100% {
        translate: 0 -50px;
    }
}

.about-card__year {
    color: #fff;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about-card__exp {
    margin-top: 14px;
    max-width: 83px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.42;
}

/* Advertise */

.adv {
    margin-top: 54px;
    padding: 16px 0;
}

.adv__inner {
    display: flex;
    align-items: center;
    gap: 127px;
}

/* advertise media */
.adv__media {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
}

.adv__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    overflow: hidden;
}

.adv-decor__img {
    position: absolute;
}

.adv-decor__img--1 {
    top: 13px;
    right: 63px;
}

.adv-decor__img--2 {
    top: -16px;
    right: 13px;
}

.adv-decor__img--3 {
    top: 33px;
    right: -21px;
}

.adv-decor__img--4 {
    top: 268px;
    right: -33px;
}

.adv-decor__img--5 {
    top: 336px;
    right: 19px;
}

.adv-decor__img--6 {
    right: -23px;
    bottom: -40px;
}

.adv-decor__img--7 {
    right: -33px;
    bottom: -47px;
}

.adv-decor__img--8 {
    right: -42px;
    bottom: -55px;
}

/* advertise content */

.adv__title {
    max-width: 543px;
}

.adv__desc {
    margin-top: 24px;
    max-width: 511px;
}

.adv__services {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 52px;
    gap: 56px;
    padding-bottom: 14px;
}

.adv__services::after {
    position: absolute;
    content: "";
    height: 2px;
    background: rgb(255, 91, 46, 0.07);
    border-radius: 1px;
    display: inline-block;
    bottom: 0;
    left: 0;
    right: 0;
}

.adv__service {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s linear;
}

.adv-service__icon {
    width: 20px;
}

.adv__service--active::before {
    position: absolute;
    bottom: -14px;
    left: 0;
    content: "";
    display: inline-block;
    width: 95px;
    height: 2px;
    border-radius: 3px;
    background: var(--primary-color-btn);
}

.adv__service:hover {
    animation: fly 1s linear infinite alternate;
}

@keyframes fly {
    to {
        scale: 1.1;
        transform: translate(5px, -3px);
    }
}

.adv-service__title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
}

.adv-service__desc {
    max-width: 391px;
    margin-top: 36px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.adv__link {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

/* Service */

.service {
    position: relative;
    margin-top: 174px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.service__title {
    margin-top: 15px;
}

.service__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}

.service-card {
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    padding: 30px 28px;
    transition: scale 0.5s ease;
}

.service-card:hover {
    scale: 1.1;
}

.service-card + .service-card {
    margin-top: 24px;
}

.service-card__title {
    position: relative;
    padding-left: 12px;
    display: inline-block;
}

.service-card__title::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: inline-block;
    height: 22px;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service-card__desc {
    color: #656689;
    margin-top: 18px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-card__link {
    position: relative;
    margin-top: 24px;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    /* font */
    color: #34396a;
    font-family: Sora, san-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.card-arrow {
    margin-top: 2px;
}

.service-card__link:hover {
    opacity: 0.8;
}

.service__column:nth-child(2) {
    text-align: center;
}

.service__img-wrap {
    position: relative;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.service__img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.service__img-wrap::after {
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    content: "";
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__btn {
    margin-top: 45px;
}

/* Staff */
.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__title {
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.staff__heading {
    margin-top: 15px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45px;
    column-gap: 35px;
}

.staff-item {
    text-align: center;
    margin: 0 auto;
}

.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
}

.staff-item__img-wrap::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 94%;
    border-radius: 130px;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__img-wrap::after {
    position: absolute;
    content: "";
    left: 50%;
    width: calc(100% + 35px);
    height: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    transform: translateX(-50%);
}

.staff-item:first-child .staff-item__img-wrap::after {
    background-image: url(../image/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../image/staff-decor-02.svg);
    background-position: 0 16px;
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../image/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../image/staff-decor-04.svg);
    background-position: 0 16px;
}

.staff-item__img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 130px;
    z-index: 1;
}

.staff-item__desc {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
    margin-bottom: 48px;
}

.staff__btn {
    min-width: 193px;
    display: block;
    margin: 0 auto;
}

/* Pricing */

.pricing {
    background: #fff6ed;
    padding: 86px 0;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    margin: 24px auto 0;
    max-width: 709px;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    height: 56px;
    border-radius: 99px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    user-select: none;
    cursor: pointer;
}

.pricing__switch-value {
    position: relative;
    padding: 0 40px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    transition: 0.25s ease;
}

.pricing__switch-label::before {
    position: absolute;
    left: -2px;
    bottom: -0.5px;
    content: "";
    width: 145px;
    height: 100%;
    border-radius: 99px;
    background: var(--primary-color-btn);
    border: 1px solid var(--primary-color-btn);
    transition: transform 0.25s ease;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    transform: translateX(108%);
}

.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:last-child {
    color: var(--primary-color-btn);
}

.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:first-child {
    color: var(--primary-color-btn);
}

.pricing-discount__decor {
    position: absolute;
    right: -112px;
    top: -10px;
}

/* pricing list  */

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    column-gap: 44px;
}

.pricing-item {
    border-radius: 20px;
    background: #fff;
    padding: 30px 28px;
}

.pricing-item:hover {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item__type {
    color: var(--primary-color-btn);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing-item__price {
    display: block;
    margin-top: 24px;
    color: var(--primary-color);
    font-family: Sora, sans-serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03;
}

.pricing-item__btn {
    margin-top: 22px;
    min-width: 246px;
    --height: 44px;
    box-shadow: none;
}

.pricing-item__btn:hover {
    filter: none;
    -webkit-box-reflect: unset;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    position: relative;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    padding-left: 26px;
    display: flex;
    align-items: center;
}

.pricing-item__item::before {
    content: url(../image/check-bold.svg);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.pricing-item__item--light::before {
    content: url(../image/check-light.svg);
}

/* Review */

.review {
    padding-top: 53px;
    display: flex;
}

.review__inner {
    display: flex;
    align-items: center;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #ff5b2e;
    border: 1px solid #ffd1c4;
    transition: transform 0.25s ease;
}

.review__control--right {
    margin-left: auto;
}

.review__control--right:hover {
    transform: translateX(3px) !important;
}

.review__control:hover {
    color: #fff;
    background: var(--primary-color-btn);
    border-color: var(--primary-color-btn);
    transform: translateX(-3px);
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review-item {
    flex-shrink: 0;
    width: 100%;
    margin-left: 44px;
    display: flex;
    align-items: center;
    gap: 115px;
}

.review-item__media {
    position: relative;
    width: 274px;
    border-radius: 137px;
    flex-shrink: 0;
}

.review-item__media::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 83%;
    border-radius: 137px;
    background: #ffda54;
}

.review-item__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
    border-radius: 137px;
}

.review-item__content {
    margin-top: 28px;
}

.review-item__desc {
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56;
    max-width: 553px;
}

.review-item__name {
    position: relative;
    margin-top: 34px;
    color: #282828;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 28px;
    display: flex;
    align-items: center;
}

.review-item__name::before {
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
}

.review__dots {
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.review__dot--active {
    width: 24px !important;
    background: var(--primary-color-btn);
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid var(--primary-color-btn);
    transition: background 0.25s ease-in-out;
}

.review__dot:hover {
    background: var(--primary-color-btn);
    cursor: pointer;
}

/* Blog */
.blog {
    padding-top: 130px;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__cta {
    margin-right: 73px;
}

.blog__desc {
    max-width: 350px;
}

.blog__btn {
    margin-top: 24px;
    min-width: 182px;
}

.blog__btn:hover {
    -webkit-box-reflect: unset;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    justify-content: space-between;
}

.blog-item__img-wrap {
    position: relative;
    width: 100%;
    border-radius: 24px;
    background: #90ccff;
    padding: 24px 0 0 36px;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__date {
    color: #fff;
    font-family: Sora;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

.blog-item__img {
    margin-top: 25px;
    display: block;
    width: 322px;
    height: 296px;
    object-fit: cover;
}

.blog-item__info {
    margin-top: 28px;
    max-width: 345px;
    transition: transform 0.25s ease;
}

.blog-item:hover .blog-item__info {
    transform: translateX(15px);
}

.blog-item__heading {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54;
}

.blog-item__desc {
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

/* Footer */
.footer {
    margin-top: 131px;
    /* background: #fff6ed; */
    padding: 52px 0 48px;
    background: linear-gradient(to right, #fff6ed 43%, #fffaf5 43%);
}

.footer__inner {
    display: grid;
    grid-template-columns: 41% 25% 34%;
    align-items: center;
}

.footer__left {
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    width: 268px;
    height: 46px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    background: #fff;
}

.search-form__input {
    padding: 0 22px;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    outline: none;
    border: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.16;
}

.search-form__input::placeholder {
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16;
}

.search-form__input:invalid + .search-form__submit,
.search-form:has(:placeholder-shown) .search-form__submit {
    pointer-events: none;
    opacity: 0.9;
}

.search-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: -1px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: var(--primary-color-btn);
    color: #fff;
    cursor: pointer;
}

.search-form__error {
    margin-top: 15px;
    color: #ff4d4d;
    font-size: 1.6rem;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s ease;
}

.search-form:has(:invalid) + .search-form__error {
    visibility: visible;
    opacity: 1;
}

.footer__title {
    margin-top: 37px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1;
}

.footer__social-list {
    margin-top: 16px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: #000958;
    transition: 0.25s linear;
}

.social-item:hover {
    background: var(--primary-color-btn);
    color: #fff;
}

.footer__middle,
.footer__right {
    position: relative;
    /* background: #fffaf5; */
}

.footer__middle {
    padding-left: 129px;
}

.footer__right {
    padding-left: 147px;
}

.footer__middle-list {
    margin-top: 86px;
}

.footer__right-list {
    margin-top: 58px;
}

.footer-list__title {
    color: var(--primary-color);
    font-family: Sora, sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 14px;
}

.footer-item {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2;
}

.footer-item--date {
    display: block;
}

.footer__coppy-right {
    margin-top: 52px;
    text-align: center;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.16;
    opacity: 0.5;
}
