* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    scroll-padding-top: 100px;
    background: #fffaf5;
}

html,
body {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #000958;
    --primary-color-btn: #ff5b2e;
    --primary-color-desc: #656689;
}

input,
textarea,
button,
select {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    -webkit-top-highlight-color: transparent;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "sora", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.btn {
    --height: 56px;
    min-width: 214px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    padding: 0 10px;
    border-radius: 99px;
    border: 1px solid currentColor;
    background: var(--primary-color-btn);

    /* font text */
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    transition: opacity 0.25s ease-in-out;
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.font-heading {
    color: var(--primary-color);
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.font-desc {
    color: var(--primary-color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
}
/* Header */

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    padding: 18px;
}

.navbar-item__link,
.header-aciton__link {
    display: block;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.navbar__item:hover .navbar-item__link,
.header-acition__link:hover {
    color: var(--primary-color);
    font-weight: 600;
}

.navbar-item__link::before {
    content: attr(data);
    height: 0;
    display: block;
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.header__action {
    display: flex;
    align-items: center;
}

.header-action__btn {
    position: relative;
    --height: 50px;
    min-width: 117px;
    color: #000958;
    border-color: rgba(0, 9, 88, 0.7);
    margin-left: 36px;
    background: #fffaf5;
    transition: all 0.25s linear;
}

.header-action__btn:hover {
    background: var(--primary-color-btn);
    color: #fff;
    border-color: transparent;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hero media */
.hero__media {
    display: flex;
    position: relative;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
}

.hero__decor--left {
    bottom: 10px;
    left: -58px;
    z-index: -1;
    animation: move-top 4s ease-in-out infinite alternate;
}

@keyframes move-top {
    to {
        transform: translateY(-300px);
    }
}

.hero__decor--right {
    top: 17px;
    right: -40px;
    z-index: -1;
    animation: move-bottom 4s ease-in-out infinite alternate;
}

@keyframes move-bottom {
    to {
        transform: translateY(200px);
    }
}

.hero__img-wrap--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid #fde0e2;
    margin-left: -45px;
    margin-bottom: -58px;
}

/* Hero health */
.hero__health {
    position: absolute;
    bottom: -94px;
    left: 118px;
    width: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 20px 14px;
    transition: scale 0.5s ease-in-out;
}

.hero__health:hover {
    scale: 1.1;
}

.hero__pet {
    display: flex;
    align-items: flex-start;
    gap: 9px;
}

.hero__pet:last-child {
    margin-top: 20px;
}
.hero-pet__wrap {
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
    background: #fec23f;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-pet__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-pet__wrap--bottom {
    background: #6597c2;
}

.hero-pet__title {
    position: relative;
    margin-top: 2px;
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero-pet__title::before,
.hero-pet__title::after {
    position: absolute;
    content: "";
    display: inline-block;
    border-radius: 10px;
    background: #f2f2f2;
    left: 1px;
}

.hero-pet__title::before {
    width: 118px;
    height: 4px;
    bottom: -7px;
}

.hero-pet__title::after {
    width: 39px;
    height: 4px;
    bottom: -17px;
}

.hero__line {
    height: 2px;
    background: #f2f2f2;
    margin-top: 20px;
}

/* Hero content */

.hero__content {
    /* margin-left: 120px; */
}

.hero__title {
    max-width: 517px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.hero-action__btn {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
}

.hero__btn {
    --height: 60px;
    min-width: 189px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero-action__link {
    position: relative;
    align-self: center;
    margin-left: 24px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

/* .hero-action__link:hover {
    text-decoration: underline;
} */

.hero__arrow {
    right: 30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fffaf5;
}

/* about */
.about {
    margin-top: 100px;
    padding: 53px 0;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-content__start {
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__title {
    margin-top: 15px;
    max-width: 446px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

.about__list {
    max-width: 478px;
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 37px 37px;
}

.about__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-checkbox__row {
    display: flex;
    /* gap: 36px; */
    justify-content: space-between;
}

.about__tick-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 5px;
}

.about-item__name {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

/* about media */
.about__media {
    position: relative;
}

.about-media__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 494px;
    height: 559px;
    border-radius: 25px;
}

.about-media__wrap::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    z-index: -1;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.about__card {
    position: absolute;
    padding: 30px 26px;
    width: 136px;
    object-fit: cover;
    text-align: center;
    top: 157px;
    left: -44px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    transition: scale 0.5s linear;
}

.about__card:hover {
    scale: 1.2;
}

.about-card__img {
    position: absolute;
    top: -37px;
    right: -30px;
}

.about-img__decor {
    position: absolute;
    right: -50px;
    top: 150px;
}

.about-card__year {
    color: #fff;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about-card__exp {
    margin-top: 14px;
    max-width: 83px;
    color: #c6f4f9;
    font-size: 1.4rem;
    line-height: 1.42;
}

/* Advertise */

.adv {
    margin-top: 54px;
    padding: 24px 0;
    /* background: yellow; */
}

.adv__inner {
    display: flex;
    align-items: center;
    gap: 127px;
}

.adv__media {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 580px;
    height: 500px;
    border-radius: 18px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
}

.adv__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.adv__title {
    max-width: 543px;
}

.adv__desc {
    margin-top: 24px;
    max-width: 511px;
}

.adv__services {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 52px;
    gap: 56px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(255, 91, 46, 0.07);
}

.adv__service {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s linear;
}

.adv__service--active::before {
    position: absolute;
    bottom: -11px;
    left: 0;
    content: "";
    display: inline-block;
    width: 95px;
    height: 2px;
    border-radius: 3px;
    background: var(--primary-color-btn);
}

.adv__service:hover {
    animation: fly 1s linear infinite alternate;
}

@keyframes fly {
    to {
        scale: 1.1;
        transform: translate(5px, -3px);
    }
}

.adv-service__title {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    white-space: nowrap;
}

.adv-service__desc {
    max-width: 391px;
    margin-top: 36px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.adv__link {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.adv__link::before,
.hero-action__link::before {
    position: absolute;
    bottom: -3px;
    right: 0;
    width: 0;
    content: "";
    display: inline-block;
    height: 2px;
    background: currentColor;
    transition: width 0.5s ease-in-out;
}

.adv__link:hover::before,
.hero-action__link:hover::before {
    width: 100%;
    left: 0;
}
